.App {
  text-align: center;
  background-color: blue;
}

.bomb-box {
  height: calc((100vh / 5) - 1px);
  width: calc((100vw / 10) - 1px);
  font-size: 8pt;
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.blank-box {
  background-color: #c4c3c3;
}

.blank-box-clicked {
  background-color: white;
}

.box-with-number {
  background-color: #7f86c3;
}

.box-with-bomb {
  background-color: white;
  background-image: url("bomb.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.box-with-flag {
  background-color: #c4c3c3;
  background-image: url("flag.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.single-row {
  display: flex;
  flex-direction: row;
}
